/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  background-image: url(/images/001.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  width: 100%;
}

/*
 * Header
 */
.masthead {
 position: absolute;
 width: 100%;
 padding: 20px;
 z-index: 99999;
}

.masthead-brand {
  margin-bottom: 0;
  /* position: absolute;
  top: 0;
  display: block; */
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

/* .hidden {
  widows: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
} */

/* .css-1nhvy8k {
  min-width: calc(3440px);
  height: calc((100vh + 0px) + 0px);
  background-image: url(/images/001.jpg);
} */

/* @media (min-width: 960px) .md:block {
  display: block;
} */

/* .hidden {
  display: block;
}

.bg-contain {
  background-size: contain;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-center {
  background-position: 50%;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
} */

/* video {
  max-width: 100%;
  height: auto;
} */

.my-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.my-video-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  padding: 20% 10%;
}

.my-video-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  padding: 20% 10%;
}
